html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;vertical-align:top;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
table{border-collapse:collapse;border-spacing:0;}  

  body { 
    padding: 0;
    font-family: sans-serif;
    font-size: 0.8125em;
    text-align: left;
    line-height: 1.5em;
    color: #000;
    background-color: #E1E1DB;
    background-image: url("http://library.miami.edu/wp-content/themes/umiami/images/greydient.png");
    background-repeat: repeat-x;
    border-top: 3px solid #FFFFFF;   
}


p {
    margin: 0.8em 0;
}

.visible-desktop {display: none;  /* Hide on responsive mode */ }

a {
    color: #21759B;
}

a:link {
    color: #21759B;
    text-decoration: none;
}

a:visited {
    color: #21759B;
}

a:hover,
a:active,
a:focus {
    color: #cc6666;
    text-decoration: underline;
}

h1.um-heading {
    color: #333333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    padding: 0.2em 0 0.2em 1em;
    text-shadow: 0 2px 3px #CCCCCC;
    background-image: url("http://library.miami.edu/wp-content/themes/umiami/images/h1_bg_green.png");
    background-repeat: repeat-x;
    background-color: #d3d78e;
    text-shadow: 0 1px 3px #EFEFEF;
    margin-top: 5px;
    margin-left: 0;
    line-height: 40px;
}

h2 {
    font-family:sans-serif;
    letter-spacing: 1px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.3em;
    margin: 1em 0;
}

h3 {
    font-family:sans-serif;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: #6F6F6F;
}

em {font-style: italic;}


img {
    height: auto !important;
    max-width: 100%;
}

.clearboth {
    clear: both;
}

#header-content {
    max-width: 999px; 
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 1em auto 0 auto;
    padding: 3px;
    text-align: left;
}

.header-content {
    padding: 20px 15px 15px 15px;
}


#header-content img {
    float: left;
}

#header-content .header-text {
    float: left;
    padding: 2px 4px;
    background-color: #fff;
    color: #333;
    line-height: 16px;
    font-size: 12px;
    margin: 3px 0 0 7px;
    text-align: left;
}

#header-content a {
    color: #333;
    text-decoration: none;
}

#header-content a:hover {
    color: #F37421;
}


/* -- Header Search-- */

#search_container {
    text-align: right;
    position: relative;
}

#searchzone {
    background-color: #d1d688;
    border: 1px solid #a2ad00;
    border-radius: 5px;
    height: 20px;
    padding: 2px 2px 3px;
    margin: 0;
}

#searchy {
    background-color: #d1d688;
    border: 0 none;
    float: left;
}

#topsearch_button2 {
    background: url("http://library.miami.edu/wp-content/themes/umiami/images/search_button_bg2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none;
    color: #fe6518;
    cursor: pointer;
    display: block;    
    height: 16px;
    font-size: 0;
    margin: auto 0;
    position: absolute;
    right: 2px;
    top: 3px;
    width: 19px;
}

#search_options {
    background-color: #d1d688;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;   
    border-left: 1px solid #a2ad00;
    border-right: 1px solid #a2ad00;
    border-bottom: 1px solid #a2ad00;    
    display: none;
    font-size: 12px !important;
    margin: 0;
    padding: 2px 0 0;    
    text-align: left;
    position: absolute;
    left: 0.25em;
    top: 24px;
    width: 150px;
    z-index: 2000;
}
#search_options ul {
    margin: 0;
    padding: 0;
}
#search_options li {
    border-bottom: 1px solid #a2ad00;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 12px;
    margin: 0 !important;
    min-width: 135px;
    padding: 0.2em 0 !important;
    text-align: left;
    vertical-align: middle;
}

#search_options li.list-last {
    border: none;
}

#search_options li:hover, #search_options li.active {
    background-color: #a2ad00;
    color: #fff;
}
#search_options li input {
    margin: 0 1em;
}

/* -- Menu Button Responsive-- */

.button-menu {      /* Visible on responsive mode only */
    color: #fff !important;
    background-color: #333;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* menu button; toggles in the spum_nav area */

#menu_button {
    display: block;
    float: right; 
    text-align: right;   
}

#menu_button a {
        color: #fff;
        text-transform: uppercase;
    }


/* -- MAIN NAV-- */
/* black nav bar, spum_nav */

#spum_nav {
    background-color: #333;
    border: none;
    color: #fff;
    margin-top: 1em;
    display: none;
}
#spum_nav ul {
    margin-left: 0;
    margin-top: 0;
    text-align: left;
    min-height: 2.15em;
}

#spum_nav ul li {
 border-bottom: 1px solid #ddd;
 padding: 8px 0 8px 4px;    
}

#spum_nav a {
    background-color: transparent;
    color: #fff;
    font-family: Arial,Helvetica,Verdana;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}
#spum_nav a:hover {
    color: #f37421;
}

.nav_highlight { /* Fake orange button on nav - hidden on small */
    background-color: none;
    border: none;
    text-transform: uppercase;
}


/* No mega menus for little screens, ever */
ul#nav_menu.nav li div {
    display: none;
}

ul#nav_menu.nav li div.mega_child {
    display: none;
}

/* FOOTER */

.footer-container {
    margin-top: 0;
    background-color: #FFF;
}

#wide_footer {
    max-width: 999px; 
    margin: 0 auto; 
    background: url("http://library.miami.edu/wp-content/themes/umiami/images/footer_bg.jpg") no-repeat scroll top left #FFFFFF;
    color: #333;
    font-size: 1em;
    line-height: 1.5em; 
    padding-top: 26px;
    min-height: 100px !important;
}

.footer-adj {
    padding: 0 0 10px 10px;
}


#footer {    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    clear: both;
    color: #333;
    font-size: 0.8em;
    margin: 0;
    padding: 10px 0 0;
    position: relative;
    width: 100%;
}

#footer p {
    margin: 0;
    line-height: 1.4em;
}

#footer a {
    color: #888;
}

#footer a:hover {
    color: #ccc;
}


#social_icons_small {text-align: left; padding-right: 10px;}

#social_icons_small img {
    margin-right: 0.5em;
    margin-left: 0;
}

/* //////////////////
//  Media Queries 
////////////////// */


/* ≥ 768px  .pure-u-md-* */
@media screen and (min-width: 48em) {
    #menu_button {display:none;}

    .visible-desktop {display: inline-block;}

    #spum_nav {display: inline-block;}

    /* override for shrunken menu */
    #spum_nav ul li {
     border-bottom: none;
     
     list-style-type: none;
    }

    #spum_nav a {    
    padding: 8px 0 8px 4px;    
    }

    /* Mega Menus! */

    ul#nav_menu {padding-left: 0;}

    ul#nav_menu div {
        display: none;
        text-align: left;
        z-index: 2000;
    }
    #nav_menu.skip {
        font-size: 0;
        text-decoration: none;
    }

    #nav_menu li {}

    #nav_menu li.mega {
        position: relative;
        display: inline;
        float: left;
    }
    
    #nav_menu li a.selected_href {
        color: #f37421;
    }

    #nav_menu li.last-child a.selected_href,
    #nav_menu li.last-child a:link,
    #nav_menu li.last-child a:visited {
        color: #fff;
    }


    #nav_menu li.last-child a:hover {
        color: #333;
    }


    #nav_menu li.research {
        margin-left: 0;
    }
    ul#nav_menu li.hovering div {
        display: block;
    }
    div.mega_child {
        border-right: 4px solid #fff;
        border-left: 4px solid #fff;
        border-bottom: 1px solid #fff;
        background-color: #e1e1db;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
        color: #333 !important;
        font-family: Arial,Helvetica,sans-serif !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 45px;
        text-align: left;
        z-index: 10001 !important;
    }

    div.mega_child.mega-right {
         right: -200px;         
    }

     div.mega_child.mega-right-special,
     div.mega_child.mega-right-special2 {
         right: 0px;         
    }

    div.mega_child.mega-left {
         left: 0;
    }

    div.mega_child.mega-left-special {
        left: -50px;
    }
    
    div.mega_child.mega-sm {width: 350px;}
    div.mega_child.mega-md {width: 380px;}
    div.mega_child.mega-lg {width: 535px;}


    div.mega_child ul {
        float: left;
        margin-top: 0.5em !important;
        text-align: left !important;
    }
    #spum_nav div.mega_child ul li {
        border-bottom: 1px solid #fff;
        display: block !important;
        font-family: Arial,Helvetica,sans-serif !important;
        font-weight: 400 !important;
        list-style: none outside none;
        margin: 10px 10px 0 10px;
        padding: 0 !important;
        text-transform: none !important;
    }
    div.mega_child ul li.mega_header {
        border-bottom: 2px solid #fff;
        color: #333;
        font-size: 1.3em !important;
        font-weight: bold;
        padding: 0.5em 0 !important;
    }
    #spum_nav div.mega_child ul li.last {
        border: none;
    }
    div.mega_child ul li a:hover {
        background-color: #f37421 !important;
        color: #fff !important;
    }
    div.mega_child ul li a {
        background-color: transparent !important;
        border: 0 none !important;
        color: #333 !important;
        display: block;
        font-size: 1.1em !important;
        margin: 0 !important;
        max-width: 175px;
        min-width: 150px !important;
        padding: 0.3em 0.1em !important;
        position: relative;
        text-transform: none !important;
    }
    .wider {
        width: 300px;
    }
    div.mega_child p {
        font-size: 1.2em !important;
    }
    div.mega_child.clear {
        clear: left;
    }
    div.mega_feature {
        background-color: transparent;
        border: none;
        display: block;
        float: left;
        line-height: 1.2em;
        margin: 1em 1em 0 2em;
        min-height: 100px;
        padding: 1em;
        text-align: left;
        width: 100px !important;
    }
    div.mega_feature img {
        background-color: #efefef;
        border: 4px solid #ffffff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        padding: 0.3em;
        margin-bottom: 10px;
        display: block;
    }
    div.megasearchzone {
        background-color: transparent;
        border: medium none;
        display: block;
        float: left;
        line-height: 1.2em;
        margin: 1em;
        min-height: 20px;
        padding: 0 1em;
    }
    div.megasearchzone > form {
        font-size: 1.2em;
        padding: 5px 0;
    }
    div.megasearchzone > p {
        padding: 0.8em 0;
    }
    ul.mega_spotlight {
        background-color: transparent;
        border: 4px solid #ffffff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        line-height: 1.4em;
        padding-top: 1em !important;
        text-align: center;
        width: 150px;
    }
    div ul.mega_spotlight li {
        border: medium none !important;
    }
    div ul.mega_spotlight li img {
        background-color: #efefef;
        border: 1px solid #666;
        padding: 0.3em;
    }
    div.mega_intro {
        background-color: #f37421;
        background-repeat: repeat-x;
        border-bottom: 1px dotted #666;
        clear: both;
        color: #fff;
        font-size: 1.2em !important;
        font-weight: bold;
        padding: 5px 1em !important;
    }
    div.mega_more {
        background-color: #fff;
        border-top: 1px dotted #666;
        clear: both;
        margin: 0 !important;
        padding: 0.3em 1em 0.3em 3em !important;
        text-transform: none !important;
    }
    div.mega_more a, div.mega_feature a {
        color: #f37421 !important;
        font-size: 1em !important;
        margin: 0 !important;
        padding: 0 !important;
        text-decoration: underline !important;
    }

    /* end mega */

    .megasearchzone form select {font-size: 12px; height: 24px;} 
    .megasearchzone form input[type] {
        font-size: 12px; 
        text-align: center;
        cursor: default;
        border-radius: 4px;
        padding: 0 5px;
        border: 1px solid #999;
        box-shadow: none;
        background-color: #f2f2f2;
        height: 22px;
        vertical-align: middle; }

    #nav_menu li.last-child {
        float: right; 

    }

	.nav_highlight { /* Fake orange button on nav - display */
        background-color: #F37421 !important;
        text-transform: none; 
    }

    .footer-adj {
        padding: 0;
    }

    #umiami_logo {padding-left: 10px;}

    #social_icons_small {text-align: right;}

   #social_icons_small img {
    margin-left: 0.5em;
    margin-right: 0;
}
    
}

/* ≥ 1024px     .pure-u-lg-* */
@media screen and (min-width: 64em) {
   
    ul#nav_menu {padding-left: 20px;}

   div.mega_child.mega-right,
   div.mega_child.mega-right-special {
         left: -180px;
    }

    div.mega_child.mega-left-special {
        left: 0;
    }

    #spum_nav a {    
    padding: 10px;    
    }

    #nav_menu li.research {
        margin-left: 5em;
    }

    .nav_highlight { /* Fake orange button on nav - display */
        border-left: 4px solid #FFF;
    }

    #nav {
      position: relative;
      float: left;
      background-color: #333;
      color: #fff;
      margin: 0px;
      padding: 4px 4px;
      border: 4px solid #fff;
      width: 944px;
    }


    ul.nav > a {
      text-decoration: none; /* make 'er wide for better clickability */
      color: #fff;
      padding: 5px;
      margin: 2px 20px 2px 0;
      font-size: 14px;
      font-family: Arial, Helvetica, Verdana;
      font-weight: normal;
    }

    ul.nav > a:hover {
      color: #f37421;
    }

    
    ul.nav > li {
      position: relative;
      display: inline-block;
      text-transform: none;
      /* IE hack */
      zoom: 1;
      *display:inline;
    }

    ul {
      margin-left: 1em;
    }

    .tip {
        width: 275px; /* we set this here so it doesn't overlay the other content on smaller screens */
    }

    .breather {
        margin: 0 .5em 0 1em;
    }
}

/* Libguide specific */
#wrapper {
  background: none;
  margin: 0 auto;
  width: auto;
}

#container {
  width: 999px;  
  background-color: #FFF;
  margin: 0 auto;
  border-radius: 5px;
}

#content {
    background-color: #fff;
     overflow: hidden;
    padding: 20px 5px 10px 5px;
    width:989px !important;
}

.icon {
   padding: 0 8px 0 0;
   float: left;
}

.topnav {
    background-color: #fff;
    padding: 5px 10px;
}

#guide_header_title, #guide_header_title h1 {
    background-color: #fff;
 	margin: 0;
    display: block;
}

#guide_header_title {
    background-color: #fff;
 	width: 100%;
}

.guideattr {
    background-color: #fff;
    color: #5f5f5f;
    display: block;
    font: bold 11px Arial,Trebuchet ms,Tahoma,Helvetica,sans-serif;
    margin: 0;
    padding: 5px 5px 10px;
}

#tabsI {
    background-color: #fff;
    border-bottom: 1px solid #7b9a70;
}


.stitle {
    background: url("//lgimages.s3.amazonaws.com/stitle.gif") repeat-x scroll 0 0 #fff;
    font: bold 14px Arial,Helvetica,sans-serif;
    height: 25px;
    padding: 1px 5px 0 10px;
    margin-bottom: 0;
}

#contentcenter {
    background-color: #fff;    
    padding-left:5px !important;
    padding-right:5px !important;
    
}


#customFooter {padding-top: 1.5em; background-color: transparent;}

.guidetags {    
    float: left;
    padding: 10px 0;
}

.column, .floatcols {
float: left;
width: 33%;
padding: 0;
margin: 0;
}

.column-wrapper {
overflow: hidden;
}

ul#mylistid{
width: 100%;
padding: 0;
}

li.subject_link {
padding:2px 0;
margin: 2px 6px;
list-style-type: none;
font-size: 1.15em !important;
}

li.subject_link:hover {
background: #eee;
cursor: pointer;
}

a.toggle_button {
text-decoration: none;
text-align: center;
color: #666;
background: #ddd;
border: 1px solid #ccc;
font-weight:bold;
margin: auto 6px auto 0;
padding:1px 3px;
display:inline-block;
width:15px;
cursor: pointer;
}

span.toggletext {
cursor: pointer;
}

ul.guide_links li {
margin:3px 3px 3px 26px;
list-style-type:disc;
}

ul.guide_links {
margin: 6px 0;
padding: 0;
line-height 1.5em;
}

#tabsI {border-bottom: 1px solid #7b9a70;}
#tabsI a {  background:url("http://www.library.miami.edu/images/sitedesign/libguides_tableft.gif") no-repeat left top; }
#tabsI a span { background:url("http://www.library.miami.edu/images/sitedesign/libguides_tabright.gif") no-repeat right top; color:#366732; }
#tabsI a:hover span { color:#b25614;}
#tabsI #current a span {color:#b25614;}
.outerbox {padding:3px; }
.headerbox {background-image: url(http://www.library.miami.edu/images/sitedesign/libguides_boxhead.gif); margin-bottom:3px;}
#library_header {height:75px; border-bottom: 1px #b25614 solid; margin-bottom:5px;}
#logo-title {float:left; margin-top: 10px; margin-left:5px;}
#hours {float:right; margin-top: 8px;}
a {color:#b25614;} 



ul.guide_links li {
    list-style-image: url('http://www.library.vcu.edu/images/backgrounds/bulletblue.png');    
  }

.guidedesc, .pagedesc {
    padding: 8px 0 8px 8px;
    background-color: #fff;
}

/* Styling the markup generated by the autocomplete jQuery UI widget */


ul.ui-autocomplete{
  width:220px;
  background-color:#fff;
  border:1px solid #fff;
  outline:1px solid #ccc;
  font-size: 0.9em;

}

ul.ui-autocomplete li{
  list-style:none;
  border-bottom:1px solid #e0e0e0;
  border-top:1px solid #fff;
  text-align: left !important;
}

ul.ui-autocomplete li:first-child{
  border-top:none;
}


ul.ui-autocomplete li:last-child{
  border-bottom:none;
}

ul.ui-autocomplete li a{
  color:#333;
  border:none !important;
  text-decoration:none !important;
  padding:5px 10px;
  display:block;
}

#ui-active-menuitem{
  background-color:#F37421;
  color:#fff;
  cursor:pointer;
}

/* Autocomplete Styles */

/* From the themeroller */
.ui-autocomplete { position: absolute; cursor: default; }

* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {
  list-style:none;
  padding: 5px;
  margin: 0;
  display:block;
  float: left;
  border: 1px solid #ccc;
}

.pagetitle,
#container .largetext,
#container .textcolor {background-color: #fff;}
